.projects-page {
  width: 100%;
  min-height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);
  background: hsl(var(--background));
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 24px;
  box-sizing: border-box;
}
