.menu-dropdown {
  position: relative;
  display: inline-block;
}

.menu-button {
  background: transparent;
  border: 1px solid transparent;
  color: hsl(var(--foreground));
  padding: 8px;
  border-radius: var(--radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  border: 1px solid hsl(var(--border))
}

.menu-button:hover {
  background: hsl(var(--muted));
}

.dropdown-content {
  position: absolute;
  right: -42px;
  top: 100%;
  margin-top: 8px;
  background: hsl(var(--card));
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius);
  min-width: 200px;
  box-shadow: 0 4px 10px 0 hsl(var(--foreground) / 0.1);
  z-index: 1000;
  overflow: hidden;
}

.dropdown-content button, .dropdown-content a {
  width: 100%;
  padding: 12px 16px;
  text-align: left;
  background: none;
  border: none;
  color: hsl(var(--foreground));
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.2s ease;
  font-weight: 400;
  text-decoration: none;
  font-size: 12px;
}

.dropdown-content button:hover, .dropdown-content a:hover {
  background: hsl(var(--muted));
}

.dropdown-content button.active, .dropdown-content a.active {
  background: hsl(var(--muted));
  font-weight: 600;
}

.theme-toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
} 

.home-button-container {
  border-bottom: 1px solid hsl(var(--border));
}

.help-button-container {
  border-top: 1px solid hsl(var(--border));
}
