.theme-toggle {
  width: 34px;
  height: 34px;
  padding: 8px;
  background: none;
  border: 1px solid transparent;
  color: hsl(var(--foreground));
  border-radius: var(--radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  border: 1px solid hsl(var(--border))

}

.theme-toggle:hover {
  background: hsl(var(--accent));
} 

.theme-toggle svg{
  margin-left: 1px;
}


@media (min-width:1024px){
  .theme-toggle {
    height: 36px;
  }
}